@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {box-sizing: border-box}
body {
  font-family: 'Inter';
  font-size: 16px;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin: 1rem 1rem;
}
.navbar nav {
  display: flex;
}
.logo{
  padding: 12px;
  color: #292929;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  transition: color 0.3s ease;
}
.logo:hover{
  color: #292929;
}
.navbar a {
  padding: 12px;
  color: #292929;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #909090;
}

.navbar a.active {
  color: #909090;
}
.status{
  background-color: black; 
  color: white; 
  font-size: 14px;
  text-align: center;  
  border-radius: 30px; 
  padding: 5px; 
  width: 150px;

}

section{
  margin: 100px 0;
  padding: 0 100px;
  align-items: center;
  justify-content: center;

}
.button-drk{
  background-color: #292929;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}
.button-drk:hover{
  background-color:#909090;
  color: white;
  text-decoration: none;
}

.hero-h2{
  font-family: 'Inconsolata', monospace;
  font-size: 45px;

}
h5{
  background-color:#292929;
  color: white;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-weight: 400;
}
.title{
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin: 35px 0;
}

.icons {
  display: flex;
  margin: 20px 0;
  gap: 10px;

}
span{
  color:#f99c9c;
}

#icon{
  color:#292929;
  font-size: 2rem;
}
#icon:hover{
  color:#909090;
}
.row{
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 1rem 1rem;
  justify-content: center;
  align-items: center;
}
.row-abt{
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 1rem 1rem;
  justify-content: center;
  align-items: center;
}
.col {
  flex: 1;
  padding: 0.5rem;
}
.col p{
  margin: 30px 0;
}
.hero-img {
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
  margin: 0 auto
}
.box {
  text-align: left;
  margin: 10px auto;
  padding: 30px;
  align-items: center;
  background-color: #f2f2f2;
}
.col-lg-12{
  flex: 1;
  padding: 0 auto;
  margin: 1rem 1rem;
}
.skillset-timeline p{
  font-family: 'Inconsolata', monospace;
}
.skill-p {
  max-width:  100%;
  text-align: center;
  margin: 1rem 1rem;
}

.skills{
  display: flex;
  justify-content: center;
  align-items: center;
}
.workexp{
  margin: 0 0 200px 0; 
}

.col-2 {
  background-color: #f2f2f2;
  color: #292929;
  font-size: 12px;
  text-align: center;
  margin: 0.5rem;
  padding: 6px;
}
.col-2:hover{
  background-color: #909090;
  color: white;
}
.contact-grid{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 30px auto;
  gap: 20px;
}
.contact-grid > button {
  padding: 0.5rem;
  margin: 1.5rem 1rem;
}
.contact-grid > button:hover {
  background-color: #909090;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 80%;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  height: auto;
  background-color: #fffcfc;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 12px 1px rgba(214,214,214,0.69);
  -moz-box-shadow: 2px 3px 12px 1px rgba(214,214,214,0.69);
  box-shadow: 2px 3px 12px 1px rgba(214,214,214,0.69);
  overflow: hidden;
  margin: 10px;
}

.project img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.project-details {
  padding: 20px;
  text-align: left;
  width: 100%;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 20px;
}
.abt-contact{
  margin: 0 auto;
}
footer{
  text-align: center;
  background-color: #1a1a1a;
  color: #909090;
  padding: 20px;
}

footer a{
  font-family: 'Inconsolata', monospace;
  color:white;
  text-decoration: none;
}

.skillset-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}
@media screen and (max-width: 768px) {
  body{
    font-size: 16px;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navbar nav {
    text-align: center;

  }

  .navbar a, .logo {
    font-size: 24px;
    width: 100%;

  
  }
  body h2{
    font-size: 30px;
  
  }
  .hero-h2{
    font-size: 40px;
  }
  .row {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin: -100px 0;
  }

  .row-abt{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: -100px 0 0 0;
  }
  .abt-contact{
    align-items: center;
    margin: 0 auto;
  }
  .col {
    flex: 100%;
    text-align: center;
    padding: 0.5rem;
  }

  .status {
    margin: 10px auto;
  }

  .icons {
    justify-content: center;
  
  }
  .col-2{
    display: none;
  }
  .lp, .workexp, .skillsets, .skillset-timeline, .about{
    margin: 100px 0;
    padding: 0;
  }
  .contact-grid{
    flex-direction: column;
  }
  .skillset-timeline{
    margin-bottom: 50px;
}
.project-container {
  flex-direction: column;
  width: 80%;
}

.project {
  max-width: 80%;
}



}
@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-color:#292929;
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #292929;
            transform: translateX(-50%);
  }
}