
body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}


.navbar-admin
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.navbar-logo{
    font-weight: 700;
    font-size: 2.1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color:#212529;
}
.dark-btn {
    background: #231f20;
    color: #fff;
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    text-transform: uppercase;
  }
  .dark-btn:hover {
    background: #425563;
    color: #fff;
  }