body {
    font-family: 'Arial', sans-serif;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-top: 50px;
}

.item-details img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.item-details {
    display: flex;
    align-items: center;
}
.total-amount {
    margin-top: 20px;
    font-weight: 800 !important;
    text-align: right;
}
#cart-notification-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #425563;
    color: white;
    padding: 16px;
    border-radius: 5px;
    display: none; 
    z-index: 1;
  }
  #cart-notification {
    text-align: center;
    margin: 0 auto;
    background-color: #425563;
    color: #fff;
  }

.cart-item img {
    width: 100px; 
    height: 100px;
    margin-right: 15px; 
}

.continue-shopping-button,
.proceed-to-checkout-button {
    padding: 10px 15px;
    color: #fcfcfc;
    background-color: #231f20;
    text-decoration: none;
    border-radius: 5px;
}

.continue-shopping-button:hover,
.proceed-to-checkout-button:hover {
    background: #425563;
    color: #fff;
}

.proceed-to-checkout-button {
    background-color: #28a745; 
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-top: 50px;}

.item-details {
    display: flex;
    align-items: center;
}

.item-details img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000; 
}
.box{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
 padding: 50px 50px;
 margin: 0 auto;
}


.cartcheckout {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    width: 800px;
    margin: 0 auto;
    background-color: #bbdefb;
    padding: 15px;
    gap: 5px;
}

.cartcheckout .item1,
.cartcheckout .item2 {
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
}