* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  align-items: center;
}

section{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
h2 /*section titles*/{
  font-weight: 700 !important;
  color: #425563;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 30px 0;
  text-transform: uppercase;
}
.sitetitle{
  font-weight: 700;
  color:#231f20;
}

.header-img {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

.header-img h1 {
  font-size: 3rem;
  color: #e8edee; 
  padding: 10px 20px;
  font-weight: 700;
  text-transform: UPPERCASE;
}
.container-p {
  text-align:center;
  align-items: center;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}



/*buttons*/
.dark-btn {
  background: #231f20;
  color: #fff;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  text-transform: uppercase;
}
.dark-btn:hover {
  background: #425563;
  color: #fff;
}
.light-btn {
color: #231f20;
background: #fff;
padding: 10px 30px;
border: none;
font-size: 16px;
border-radius: 6px;
margin-top: 10px;
margin-bottom: 10px;
cursor: pointer;
font-weight: 500;
transition: 0.2s ease;
text-align:center;
text-transform: uppercase;
}

.light-btn:hover {
background: #425563;
color: #fff;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  background-color: #231f20;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.navbar .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;

}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  font-weight: 600;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.navbar .menu-links li {
  display: inline;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #768692;

}

.dropbtn {
  color: #fff;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  background-color: #425563
}

.dropdown-content a:hover {

  color: #768692;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #768692;
}

.d-flex {
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-control {
  width: 150px;
  height: 40px;
  font-size: 14px;
  padding-left: 40px;
}

form .btn {
  color: #fff;
  background-color: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

form .btn:hover {
  color: #768692;
  background-color: none;
  border: none;
  cursor: pointer;
  padding: 0;
}


.hero-section {
  height: 100vh;
  background-image: url("img/hero-image.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;

}

.hero-section .content {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
  color: #231f20;
}

.hero-section .content h1 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
  color: #425563;
}

.hero-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
  color: #fff;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;


}

/*media view*/
@media (max-width: 768px) {
  header {
      padding: 10px;
  }

  header.show-mobile-menu::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;

  
  }

  .navbar .logo {
      font-size: 1.7rem;
      margin-left: 0;
  }

  .form-control {
      width: 150px;
      height: 40px;
      font-size: 14px;
      padding-left: 40px;
  }
  
  form .btn {
      color: #fff;
      background-color: none;
      border: none;
      cursor: pointer;
      padding: 0;
  }
  
  form .btn:hover {
      color: #768692;
      background-color: none;
      border: none;
      cursor: pointer;
      padding: 0;
  }

  #hamburger-btn, #close-menu-btn {
      display: block;
  }
  .navbar .menu-links {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100vh;
      flex-direction: column;
      padding: 70px 40px 0;
      transition: left 0.2s ease;
      background-color: #231f20;
  }

  header.show-mobile-menu .navbar .menu-links {
      left: 0;
  }
  .right-side{
      visibility: hidden;
  }
  .navbar a {
      color: #fff;
  }

  .navbar a:hover {
      color: #768692;
  }

}

/*collections*/
.collections{
  margin: 30px auto;
  max-width: 1400px;
  padding: 30px;
}
.collections h5{
  color: white;
  font-weight: 700;
}
.collections p{
  color: white;
  font-size: 16px;
}

/*new-arrivals*/
.new-arrivals{
  margin: 30px auto;
  max-width: 1400px;
  padding: 30px;
}


.new-arrivals .card {
width: 320px;
height: 300px;
border-radius: 5px;
overflow: hidden;
border: 1px solid #768692;
position: relative;
margin: 50px auto;
transition: 0.5s;

}

.new-arrivals .card-img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 15px;
}

.new-arrivals .card-body {
position: absolute;
top: 0;
right: -100%;
width: 100%;
height: 100%;
background: #231f20e2;
border-radius: 5px;
color: #fff;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: center;
transition: 1s;
}

.new-arrivals .card:hover .card-body {
right: 0;
}

.new-arrivals .card-text {
text-transform: capitalize;
font-size: 14px;
font-weight: 300;
}
.new-arrivals .card-category{
text-transform: capitalize;
font-size: 14px;
font-weight: 600;
}

/*testimonials*/
.testimonial-slider {
  margin: 0px auto;
  max-width: 1400px;
  padding: 30px;
}
.blockquote p {
  font-size: 18px;

}
.carousel {
  margin: 0 30px;
}

.testimonial-slider .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: #425563;
  border-radius: 100%;
}

/*newsletter*/
.newsletter-container {
  display: flex;
  text-align: center;;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  padding: 30px;

}

.newsletter {
  background-color: #e8edee;
  text-align: center;
  border: 3px solid #231f20;
  margin: 0 auto;
  
}

.newsletter-content {
  padding: 40px;
  align-items: center;
  margin: 0 auto;
}

.newsletter p {
  font-size: 16px;
  margin: 2rem 0;
}

.newsletter-signup {
  max-width: 300px;
  width: 150px;
  height: 40px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #425563;
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #768692;
  border-radius: 5px;
}

.form-group textarea {
  min-height: 100px;
}




/* keyboards */

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin: 40px auto; 
  max-width: 1200px;
}
.filterDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin: 40px auto; 
  max-width: 1200px;
}
.product {
  width: 300px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #425563;
  font-weight: 700;
}

.product p {
  color: #333;

}
/*contact form*/
.contact-form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
  color: #231f20;
  text-align: center;
  margin-bottom: 20px;
}
